In [ ]:
from datascience import *
import numpy as np

'imports complete'

## Numbers ##

In [ ]:
 ## there are different types of numbers in python
 ## different operations (+, -, /, *, **) default to different types

In [ ]:
# int, no decimal

In [ ]:
# int*int => int, no decimal

In [ ]:
# int/int  => float, decimal

In [ ]:
# what about if it is division with no "remainer"

In [ ]:
# exponentiation

In [ ]:
## benefit of integers is that you can store a lot of numbers without limits,
## floats have limits to the number of decimal points (15-16 decimal points)

In [ ]:
123456789 ** 1234

In [ ]:
 ## floats are only only accurant to a certain number of decimal points
10 / 3

In [ ]:
 ## python cuts off some numbers
0.12345678901234567890123456789

In [ ]:
##  depending on the level of precision you need, this can be problematic 
0.12345678901234567890123456789 - 0.1234567890123456789

In [ ]:
10 ** 0.5

In [ ]:
(10 ** 0.5) ** 2

In [ ]:
## division results in a float, BUT... 
20 / 10

In [ ]:
## can convert a float to an int
int(20 / 10)

In [ ]:
## will round decimals
int(20 / 9)

In [ ]:
float(3)

In [ ]:
6 / 4

In [ ]:
6 / 4000

In [ ]:
## python knows scientific notation
6 / 400000000000000000000000000000000000000000000000000000000

In [ ]:
400000000000000000000000000000000000000000000000000000000 * 1.5e-56

In [ ]:
1.5e-56

In [ ]:
x = 5

In [ ]:
2 * x

In [ ]:
round(3.7)

In [ ]:
round(2.00000052345324, ndigits=2)

In [ ]:
10 * 3.0

In [ ]:
## when does this matter?

## Strings ##

In [ ]:
'We made it through week 1 of 2022'

In [ ]:
"You're Muted Again"

In [ ]:
'You're Muted Again'

In [ ]:
# concatenation  ("glue" the strings together)
'Kama' + 'la'

In [ ]:
',' + 'la'

In [ ]:
'Kamala' + ' ' + 'Harris'

In [ ]:
'ha' * 10

In [ ]:
'no' * 3.0

In [ ]:
## maybe your data didn't load correctly, it thinks you numeric data are strings
int('3')

In [ ]:
int('3.0')

In [ ]:
float('3.0')

In [ ]:
int(float('3.0'))

In [ ]:
float('3.0')

In [ ]:
# can convert any numeric to a string
str(3)

In [ ]:
str(4.5)

In [ ]:
## when does this matter?

## Types ##

In [ ]:
type(10)

In [ ]:
a = 10
type(a)

In [ ]:
type(4.5)

In [ ]:
type(4 + 4)

In [ ]:
type('abc')

In [ ]:
type(True)

In [ ]:
type(abs)

In [ ]:
## when is it important to know what type your data is?

## Arrays ##

In [ ]:
## make an array, must be all the same type of data!
my_array = make_array(1, 2, 3, 4)

In [ ]:
my_array

In [ ]:
## python does operations (+, -, *, /) to every "element" of the array

![Multiply a number times an array](figures/array_multiplication.jpg)

In [ ]:
my_array * 0.2

In [ ]:
my_array ** 2

In [ ]:
## did my array change? 
my_array

In [ ]:
my_array = my_array + 1

In [ ]:
## how many elements in this array?
len(my_array)

In [ ]:
## what is the sum of the elements? 
sum(my_array)

In [ ]:
## take the average
sum(my_array) / len(my_array)

In [ ]:
np.average(my_array)
## note the np

In [ ]:
another = make_array(60, 70, 80, 90)
another

In [ ]:
## Add two arrays, must be same type, same length

In [ ]:
my_array + another

## What happens if you try to add two arrays of different lengths ?
## How can you find out?

#### a) Try a short experiment!
#### b) Look in the course text
#### c) Check the tip sheet
#### d) Do an internet search

In [ ]:
yet_another = make_array(5, 6, 7, 8)

In [ ]:
my_array + yet_another

In [ ]:
## an array of strings, what's something with a 3-4 catagories? 
... = make_array(...)
...

In [ ]:
type(...)

In [ ]:
... + my_array

In [ ]:
sum(...)

In [ ]:
len(...)

In [ ]:
## give me the 1st element
... .item(0)

In [ ]:
## give me the 3rd element
... .item(2)

In [ ]:
## why doesn't this give the 3rd element?
... .item(3)

In [ ]:
## python tricky point, indexing starts at 0