In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Always include the https://  and the final /
path = 'https://github.com/oregon-data-science/DSCI101/raw/main/data/'

'import completed'

'import completed'

## Tables ##

In [ ]:
## path is a string set above, cones is the name of the file, note the quotes
cones = Table.read_table(path + 'cones.csv')
cones

In [ ]:
## show me the first 3 rows table.show(index #)
## a type of function call that operates on a thing, note the . 
## (called a method but don't worry about this for this class)
cones.show(3)

In [ ]:
## select the "Flavor" column using .select
flav = cones.select('Flavor')
flav

In [ ]:
# what kind of thing is flav?  Use type(flav) to find out ...

In [ ]:
type(flav)

In [ ]:
## .select returns a Table

In [ ]:
## Can I select more than one column of data?

In [ ]:
# Does this work?
cones.select('Flavor', 'Price')

In [ ]:
# Can I use an array of column names?
cones.select(make_array('Flavor', 'Color'))

In [ ]:
cones.select(Flavor) ## will this work?

In [ ]:
## what if we want to drop the price column?
cones.drop('Price')

In [ ]:
cones

In [ ]:
## why is the price column still there???

In [ ]:
cones_without_price = cones.drop('Price')
cones_without_price

In [ ]:
## where let's you pick out some of the rows
cones.where('Flavor', 'chocolate')

In [ ]:
## re-order the rows by a column
cones.sort('Price')

In [ ]:
cones.sort('Price', descending=True)

In [ ]:
cones= cones.sort('Flavor', descending=False)

In [ ]:
## need help remembering the arguments?
cones.sort?

In [ ]:
cones

In [ ]:
Table.sort?

# Skyscrapers in the United States

In [ ]:
skyscrapers = Table.read_table(path + 'skyscrapers.csv')
skyscrapers

In [ ]:
## what if we wanted to take a look at all the skyscrapers in LA?

In [ ]:
## .where( )  takes a column name like 'city' and a value like 'Los Angeles'
## returns all rows where city is 'Los Angeles'

skyscrapers.where('city', 'Los Angeles')

In [ ]:
##  Can I work with just the skyscrapers in Los Angeles ?

In [ ]:
la_scrapers = skyscrapers.where('city', 'Los Angeles') 
la_scrapers

In [ ]:
###  what if I want to see how high the Empire state building is

In [ ]:
skyscrapers.where('name', 'Empire State Building')

In [ ]:
### how can we sort the sky scrapers in NY by their age?

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed')

In [ ]:
### how can we sort the sky scrapers in NY by their age from newest to oldest?

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed', descending=True)

In [ ]:
### let's create a new ny table

In [ ]:
ny = skyscrapers.where('city', 'New York City').sort('completed')

In [ ]:
### how can we show just the first 5 rows of the table?

In [ ]:
ny.show(5)

In [ ]:
## we can add the different methods together from left to right
nyc = skyscrapers.where('city', 'New York City')

In [ ]:
nyc
## what happened?

In [ ]:
## need help remembering what type of object a function returns (or doesn't return)? 
ny.show?

In [ ]:
### let's move up north to SF sky scrapers and make a new sf table

In [ ]:
sf = skyscrapers.where('city', 'San Francisco')
sf

## possible point of confusion 
### sf<font color='blue'>.column</font><font color='green'>('height')</font> gives you an <font color='blue'>array</font>
    
### sf<font color='blue'>.select</font><font color='green'>('height')</font>  gives you a <font color='blue'>Table</font>

In [ ]:
## take a look at the type when you use .select
sf.select('height'), type(sf.select('height'))

In [ ]:
## vs. the type when you use .column
sf.column('height'),type(sf.column('height'))

In [ ]:
# how might this difference cause problems?

In [ ]:
### what if we wanted to compare the average height of LA vs. SF skyscrapers

In [ ]:
np.average(sf.column('height'))

In [ ]:
la = skyscrapers.where('city', 'Los Angeles')

In [ ]:
np.average(la.column('height')) - np.average(sf.column('height'))

In [ ]:
### what about some skyscrapers closer to home?

In [ ]:
portland = skyscrapers.where('city', 'Portland')
portland

In [ ]:
# why is it empty =(

In [ ]:
np.unique(skyscrapers.column('city'))

In [ ]:
pnw = skyscrapers.where('city', 'Seattle')
pnw