In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

# Always include the https://  and the final /
path = 'https://github.com/oregon-data-science/DSCI101/raw/main/data/'

'import completed'

## Tables ##

In [ ]:
## path is a string set above, cones is the name of the file, note the quotes
cones = Table.read_table(path + 'cones.csv')
cones

In [ ]:
## show me the first 3 rows Table.show(index #)
## a type of function call that operates on a thing, note the . 
## (called a method but don't worry about this for this class)

In [ ]:
## select the "Flavor" column using Table.select, asign it to flav

In [ ]:
# what kind of thing is flav?  Use type(flav) to find out ...

In [ ]:
## .select returns a Table

In [ ]:
## Can I select more than one column of data?

In [ ]:
# Does this work? cones.select('Flavor', 'Price')

In [ ]:
# Can I use an array of column names? 
cols_wanted = ...
cones.select(cols_wanted)

In [ ]:
cones.select(Flavor) ## will this work?

In [ ]:
## what if we want to drop the price column? Table.drop('column name')

In [ ]:
cones

In [ ]:
## why is the price column still there???

In [ ]:
cones_without_price = ...
cones_without_price

In [ ]:
## where let's you pick out some of the rows using Table.where("column name", "row values to match to")

In [ ]:
## re-order the rows by a column table.sort("name of the column you want to sort by")

In [ ]:
## what's the default order to sort?

In [ ]:
cones.sort?

In [ ]:
## sort table.sort('column name', descending= True or False )

In [ ]:
cones

In [ ]:
## another option for getting help, can use the generic name Table
Table.sort?

# Skyscrapers in the United States

In [ ]:
skyscrapers = Table.read_table(path + 'skyscrapers.csv')
skyscrapers

In [ ]:
## what if we wanted to take a look at all the skyscrapers in LA?

In [ ]:
## .where( )  takes a column name like 'city' and a value like 'Los Angeles'
## returns all rows where city is 'Los Angeles',  Table.where("column name", "row values to match to")

In [ ]:
##  Can I work with just the skyscrapers in Los Angeles ?

In [ ]:
la_scrapers = ...
la_scrapers

In [ ]:
###  what if I want to see how high the Empire state building is, use .where and look for correct column name

In [ ]:
### how can we sort the sky scrapers in NY by their age? (use .where and .sort)

In [ ]:
### how can we sort the sky scrapers in NY by their age from newest to oldest?  (use .where and .sort, descending=True)

In [ ]:
### let's create a new ny table

In [ ]:
ny = ...

In [ ]:
### how can we show just the first 5 rows of the table? use .show()

In [ ]:
## need help remembering what type of object a function returns (or doesn't return)? 
Table.show?

In [ ]:
### let's move up north to SF sky scrapers and make a new sf table

In [ ]:
sf = ...
sf

## possible point of confusion 
### sf<font color='blue'>.column</font><font color='green'>('height')</font> gives you an <font color='blue'>array</font>
    
### sf<font color='blue'>.select</font><font color='green'>('height')</font>  gives you a <font color='blue'>Table</font>

In [ ]:
## take a look at the type when you use .select
sf.select('height'), type(sf.select('height'))

In [ ]:
## vs. the type when you use .column
sf.column('height'),type(sf.column('height'))

In [ ]:
# how might this difference cause problems?

In [ ]:
### what if we wanted to compare the average height of LA vs. SF skyscrapers

In [ ]:
np.average(sf.column('height'))

In [ ]:
la = skyscrapers.where('city', 'Los Angeles')

In [ ]:
np.average(la.column('height')) - np.average(sf.column('height'))

In [ ]:
### what about some skyscrapers closer to home?

In [ ]:
portland = skyscrapers.where('city', 'Portland')
portland

In [ ]:
# why is it empty =(

In [ ]:
np.unique(skyscrapers.column('city'))

In [ ]:
pnw = skyscrapers.where('city', 'Seattle')
pnw