In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

path = 'https://github.com/oregon-data-science/DSCI101/raw/main/data/'

'imports complete'

## Apply

In [ ]:
## You become very interested in the recreating The Office interactions

staff = Table().with_columns(
    'Employee', make_array('Jim', 'Dwight', 'Michael', 'Creed'),
    'Birth Year', make_array(1985, 1988, 1967, 1904)
)
staff

In [ ]:
## a function for introducing the staff to "Dunder Mifflin"
def greeting(person):
    return 'Dunder Mifflin, this is ' + person

In [ ]:
greeting('Pam')

In [ ]:
greeting('Erin')

In [ ]:
## greet all the staff using apply, tell apply which function to use (greeting) and then any arguments to that function ('Employee')
staff...

In [ ]:
## A function for returning the age of each employee
def name_and_age(name, year):
    age = 2022 - year
    return name + ' is ' + str(age)

In [ ]:
# calculate the age of the staff using apply, tell apply which function to use (name_and_age) and then any arguments to that function ('Employee', 'Birth year')
staff.apply...

## Grouping by One Column ##

In [ ]:
cones = Table.read_table(path + 'cones.csv')

In [ ]:
cones

In [ ]:
## group by "Color", take the count of the number of rows in each catagory (default)
cones.group...

In [ ]:
##  take the average by "Color", need to drop "Flavor" because its a string, second argument is the function you want to do by group
cones.drop('Flavor').group...

In [ ]:
## the min by color 
cones.drop('Flavor').group...

In [ ]:
## the sum by color
cones.drop('Flavor').group...

## Grouping By One Column: Welcome Survey ##

In [ ]:
## Fun survey from a data collected from a past data science class
survey = Table.read_table(path + 'welcome_survey_v2.csv')
survey

In [ ]:
## Let's take the average of all the columns by year in school "Year" 
survey.group...

In [ ]:
## The average by "Extraversion"
## need to drop the year column
by_extra = survey.drop("Year average").group...
by_extra

In [ ]:
## line plot
by_extra.plot('Extraversion')

In [ ]:
by_extra.select("Extraversion","Hours of sleep average").plot('Extraversion')

## Grouping by Two Columns ##

In [ ]:
survey.show(5)

In [ ]:
survey.group(['Year','Extraversion']).show()

# Lists

In [ ]:
## we can stick any types of data we want to in a list

In [ ]:
[1, 5, 'hello', 5.0]

In [ ]:
[1, 5, 'hello', 5.0, make_array(1,2,3)]

In [ ]:
## useful for creating tables by row , though this would be rather tedious 
drinks = Table(['Drink', 'Cafe', 'Price'])
drinks

In [ ]:
drinks = drinks.with_rows([
    ['Milk Tea', 'The Rabbit Hole', 5.5],
    ['Espresso', 'Vero',  1.75],
    ['Espresso', 'Hideaway',  1.50],
    ['Latte',    'Provisions',  5.25],
    ['Mocha',    'Provisions',  5.50],
    ['Espresso', 'Noisette',   2],
    ['Mocha',    'Hideaway',  5.50],
])
drinks

In [ ]:
# What if we want to add a new row to an already existing table? Create a new list for a Cafe Roma Latte worth $5 and add it to drinks.
roma = [...]
drinks = ...
drinks

## Pivot Tables

In [ ]:
survey.pivot('Year', 'Extraversion')

In [ ]:
survey.pivot('Year', 'Extraversion', values='Hours of sleep', collect=np.average)

In [ ]:
survey.group('Extraversion', np.average)

# Joining two tables

In [ ]:
# recall our drinks table above
drinks

In [ ]:
## Some cafes are offering discounts
discounts = Table().with_columns(
    'Coupon % off', make_array(10, 25, 5),
    'Cafe', make_array('Noisette', 'Vero', 'Hideaway'),
)
discounts

In [ ]:
# given two tables that have a common column, we join them as
# table1.join('common_column', table2)

combined = drinks.join('Cafe', discounts)
combined

In [ ]:
## Where did some of the cafes go?

In [ ]:
### What do we do if the columns have different names in the two tables?
#### new_table = table1.join(column label table 1, table 2, column label 2)

dollars_off = Table().with_columns(
    'Dollars off', make_array( 0.75, 0.90,   0.5),
    'Location',    make_array('Vero', 'Noisette', 'Hideaway'),
)
dollars_off

In [ ]:
super_saver = drinks.join('Cafe', dollars_off, 'Location')
super_saver